[package]
name = "cairo_verifier"
version = "0.1.0"

[dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.24.0" }

[[target.starknet-contract]]
casm = true

[lib]
sierra = true
casm = false